* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: white;
  color: rgb(20, 20, 20);
}

/* Header */

header {
  display: flex;
  position: relative;
  align-items: center;
  margin: 5px;
  height: 100px;
  background-color: rgb(215, 255, 213);
}

header .logo {
  margin-left: 190px;
  font-weight: 800px;
  font-size: 40px;
}

.navigacion {
  position: absolute;
  right: 0;
  margin-right: 190px;
}

.linkHome,
.linkState {
  padding: 25px;
  font-size: 20px;
  color: rgb(20, 20, 20);
  text-decoration: none;
}

.linkInHome,
.linkInState {
  padding: 25px;
  font-size: 20px;
  color: rgb(20, 20, 20);
  text-decoration: solid underline rgb(20, 20, 20) 1px;
  text-underline-offset: 5px;
}

.linkHome:hover,
.linkState:hover,
.linkInHome:hover,
.linkInState:hover {
  color: rgb(156, 156, 156);
  text-decoration: solid underline rgb(156, 156, 156) 1px;
  text-underline-offset: 5px;
}

/* страница Home */

.classHome {
  margin: 100px 150px;
  /* background-color: rgb(228, 255, 227); */
}

.classContainerProducts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.classProducts {
  width: 25%;
  margin: 40px;
  background: rgb(235, 234, 234);
  border-radius: 10px;
  overflow: hidden;
}

.classImgProducts {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

.classImgProducts:hover {
  transform: scale(1.05);
}

.classTitleProducts {
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 5px 0;
}

.classPriceProducts {
  align-items: center;
  text-align: center;
  margin: 0 0 15px 0;
}

/* страница State */

.classState {
  margin: 100px 150px 200px 150px;
}

.classContainerState {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.classPlusMinus {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 200px;
  height: 200px;
  font-size: 80px;
  padding: 60px 40px 40px 40px;
  background-color: rgb(235, 234, 234);
  border-radius: 10px;
}

.classPlus,
.classMinus {
  font-size: 30px;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  margin: 120px 0 0 0;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 5px;
  background-color: rgb(215, 255, 213);
}

.footer-container {
  margin: 50px;
}
